<div class="jumbotron">
    <div class="container">
        <h1>
            Merda, a página pesquisada não existe :(
        </h1>
    </div>
</div>
<div class="row">
<p>
Você pode retornar a página inicial clicando @Html.ActionLink("aqui", "Home"), 
ou pode me enviar uma mensagem clicando @Html.ActionLink("aqui", "Contato")
</p>
</div>