@model List<JaCagueiAqui.Model.ComentarioCagada>
@if (Model.Count > 0)
{
    <p>
        <a href="#final">Ir para final</a>
    </p>
    
    foreach (var item in Model)
    {
    <div>
        <h2>@item.Nome diz:</h2>
    </div>
    <div>
        <p>
            @item.Comentario
        </p>
    </div>    
    }
    <p>
        <a id="final" href="#formulario">Ir para topo</a>
    </p>
}
else
{
    <div>
        <h4>
            Não existem comentários ainda para esta cagada! Seja o primeiro!
        </h4>
    </div>
}