<div class="row">
    <br />
    <br />
    <div class="jumbotron">
        <div class="container">
            <div style="float: right">
                <img class="thumbnail" src="../../Resources/autor.jpg" alt="autor" />
            </div>
            <h1>
                Quem fez essa merda?
            </h1>
            <p>
                Marlon Vidal
                <br />
                Estudante de Sistemas de Informação, programador .NET há 3 anos, mora em Belo Horizonte,
                tem 23 anos e de vez em quando tem umas idéias doidas como essa kkkk
                <br />
                Aqui está meu <a href="https://www.facebook.com/locodemaisbarlao" target="_blank">facebook</a>,
                meu <a href="https://www.twitter.com/marlaovidal" target="_blank">twitter</a>
                <br />
                e aqui meu <a href="http://www.linkedin.com/pub/marlon-vidal-ferreira/25/9b8/62b"
                    target="_blank">LinkedIn</a>, pra quem interessar :)
                <br />
                Qualquer coisa me manda uma mensagem <a href="/Contato">aqui</a>
            </p>
        </div>
    </div>
</div>
