@model JaCagueiAqui.Model.Post
@{
    ViewBag.Title = "Registrar Cagada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        FuncoesPaginaRegistrarCagada();
    });    
</script>
@Scripts.Render("~/bundles/jqueryval")
<div class="jumbotron">
    <div class="container">
        <h1>
            Registrar Cagada
        </h1>
        <p>
            Arraste o marcador para o local onde você realizou essa façanha:
        </p>
    </div>
</div>
<div class="row">
    <br />
    <input id="target" type="text" placeholder="Digite o endereço" class="form-control" />
    <br />
    <div id="map-canvas" style="width: 100%; height: 500px;">
    </div>
</div>
<div class="row">
    <br />
    <div id="formulario">
        @using (Ajax.BeginForm("Salvar", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formulario", OnSuccess = "onSuccess" }))
        {                
            @Html.Partial("FormularioCagada", Model);
        }
    </div>
</div>
