@model JaCagueiAqui.Models.TopCagadasView
<div class="jumbotron">
    <div class="container">
        <h1>
            Top Cagadas
        </h1>
        <p>
            Confira aqui as cagadas mais comentadas e curtidas
        </p>
    </div>
</div>
<br />
<div id="topo" class="row" style="text-align: center;">
    <a onclick="moveTela('#maisCurtidas');">Mais curtidas</a> | <a onclick="moveTela('#maisComentadas');">
        Mais Comentados</a>
</div>
<br />
<br />
<div id="maisCurtidas" class="jumbotron">
    <div class="container">
        <h2>
            Mais curtidas <span style="font-size: medium"><a onclick="moveTela('#topo');">Voltar
                ao topo</a> </span>
        </h2>
    </div>
</div>
@Html.Partial("SessaoTopCagadas", Model.maisCurtidos)
@*<div id="divCurtidas">
    @using (Ajax.BeginForm("MaisCurtidos", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divCurtidas" }))
    {
        if (Model.maisCurtidos.Count > 0)
        {
            Html.Partial("SessaoTopCagada", Model.maisCurtidos);
        }
    }
</div>*@
@*<hr />
<div id="maisComentadas" class="jumbotron">
    <div class="container">
        <h2>
            Mais comentados <span style="font-size: medium"><a onclick="moveTela('#topo');">Voltar
                ao topo</a> </span>
        </h2>
    </div>
</div>
@Html.Partial("SessaoTopCagadas", Model.maisComentados)*@
@*<div id="divComentados">
    @using (Ajax.BeginForm("MaisComentados", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divComentados" }))
    {
        if (Model.maisComentados.Count > 0)
        {
            Html.Partial("SessaoTopCagada", Model.maisComentados);
        }
    }
</div>
<hr />*@
<div class="jumbotron">
    <div class="container">
        <h2>
            <span style="font-size: medium"><a onclick="moveTela('#topo');">Voltar ao topo</a>
            </span>
        </h2>
    </div>
</div>
