<div class="jumbotron">
    <div class="container">
        <h1>
            Vish, deu merda :(
        </h1>
    </div>
</div>
<div class="row">
<p>
Aconteceu algum erro no site que não era esperado... Por favor, 
me avise @Html.ActionLink("aqui", "Contato") o que você fez para que esse erro acontecesse
para que eu possa corrigí-lo o mais rápido possível :D
</p>
</div>